# Ignore everything
*

# Allow specific files and directories

## 'node_modules' is needed to run the server
!/node_modules/**

## '.next' contains the production build for Next.js
!/.next/**

## 'package.json' is used to run the node commands
!/package.json

## 'public' is needed for assets
!/public/**

## NextJS config are needed for image optimization
!/next.config.js
