# Ignore everything
**

# Allow specific files and directories
## 'node_modules' is needed to run the server
#!/node_modules/**
## '.next' contains the production build for Next.js
#!/.next/**
## 'dist' has the compiled TS files
#!/dist/**
## 'package.json' is used to run the node commands
!/package.json

# Ignore unnecessary files inside allowed directories
## This should go after the allowed directories
## These cover directories that are over 10M big and not needed during server production run
#/node_modules/@condenast
#/node_modules/bigrig
#/node_modules/node
#/node_modules/rxjs
#/node_modules/puppeteer
